<div class="login-page">
  <mat-card class="page-card">
    <mat-toolbar color="primary">
      <h2><span>Login Form</span></h2>
    </mat-toolbar>
    <mat-card-content>
      <form (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <div class="form-input">
          <mat-form-field>
            <input matInput placeholder="Username" type="text" required id="username" name="username" [(ngModel)]="credential.username" #username="ngModel">
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field>
            <input matInput placeholder="Password" type="password" required id="password" name="password" [(ngModel)]="credential.password" #password="ngModel">
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary">Login</button>
        <button type="button" mat-raised-button color="warn" (click)="signInWithTwitter()">Login With Twitter</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
