<div class="login-page">
  <mat-card class="page-card">
    <mat-toolbar color="primary">
      <h2><span>Login Form</span></h2>
    </mat-toolbar>
    <mat-card-content>
      <form>
        <div class="form-input">
          <mat-form-field>
            <input matInput placeholder="Username" type="text" required minlength="5">
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field>
            <input matInput placeholder="Password" type="password" required>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
